* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: "Crimson Text";
    src: url("./assets/fonts/CrimsonText-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Cinzel";
    src: url("./assets/fonts/Cinzel-Regular.woff2") format("woff2");
}

/* Variables Globales */
:root {
    --background: #101318;
    --foreground: #ede9de;
    --muted: #21242c;
    --muted-foreground: #818898;
    --gold: #e8ba30;
    --gold-light: #e8cd7d;
    --gold-dark: #c2940a;
    --blue: #191e24;
    --blue-dark: #11141b;
    --crimson: #bd2828;
    --crimson-light: #d14747;
    --emerald: #339977;
    --emerald-light: #59c09d;
    --parchment: #e6ddcb;
    --parchment-dark: #504230;
    --ink: #181d25;
}

/* Estilos Base */
body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Crimson Text", serif;
    font-size: 1rem;
    line-height: 1.5;
    background-image: radial-gradient(
            ellipse at 50% 0%,
            #1f242e80 0%,
            transparent 50%
        ),
        radial-gradient(ellipse at 100% 100%, #e8ba300d 0%, transparent 40%);
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-cinzel {
    font-family: "Cinzel", serif;
}

/* Estilo de enlaces */
a {
    text-decoration: none;
    color: inherit;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--ink);
}

::-webkit-scrollbar-thumb {
    background: var(--parchment-dark);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gold-dark);
}

/* Estilos del Loader */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    color: var(--gold-dark);
}

/* Modal de eliminar entidad */
.modal-actions {
    margin-top: 20px;
}

.cancel-btn,
.confirm-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background: var(--foreground);
    transition: 0.5s;
}

.confirm-btn {
    background: var(--gold);
    color: var(--background);
    margin-right: 10px;
    transition: 0.5s;
}

.confirm-btn:hover {
    background: var(--gold-dark);
}

.cancel-btn:hover {
    background: var(--muted-foreground);
}
