.error {
    color: var(--gold-dark);
    margin: 0 auto;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.auth-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form__text {
    margin-bottom: 1rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    gap: 1rem;
    background-color: var(--blue);
    border: 1px solid var(--gold);
    width: 100%;
    max-width: 32rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    margin: 0;
}

.form__button {
    background-color: var(--gold-dark);
    color: var(--foreground);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    line-height: 3.125rem;
    outline: none;
    font-size: 1.125rem;
    letter-spacing: 0.025rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 3.125rem;
    width: 100%;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.form__button:hover {
    background-color: var(--gold);
}

.input__wrapper {
    position: relative;
    padding: 0.9375rem 0 0;
    margin-bottom: 0.5rem;
}

.input__field {
    font-size: 1.5rem;
    color: var(--muted-foreground);
    padding: 0.375rem 0;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    line-height: 2rem;
    height: 2rem;
    outline: 0;
    border: 0;
    width: 100%;
    vertical-align: middle;
    padding-bottom: 0.7rem;
    border-bottom: 3px solid var(--muted-foreground);
    background: transparent;
    transition: border-color 0.2s;
}

.input__field::placeholder {
    color: transparent;
}

.input__label {
    user-select: none;
}

.input__field:placeholder-shown ~ .input__label {
    cursor: text;
    color: var(--muted-foreground);
    top: 0.8rem;
    font-size: 1.2rem;
}

.input__label,
.input__field:focus ~ .input__label {
    position: absolute;
    top: -0.8rem;
    display: block;
    font-size: 1.2rem;
    color: var(--muted-foreground);
    transition: 0.3s;
}

.input__field:focus ~ .input__label {
    color: var(--gold-dark);
}

.input__field:focus {
    border-bottom: 3px solid var(--gold-dark);
}

.input__field:focus ~ svg {
    stroke: var(--gold-dark);
}

.input__icon {
    position: absolute;
    right: -0.875rem;
    bottom: -0.6875rem;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.125rem;
    transform: translate(-50%, -50%);
    transform-origin: center;
    cursor: pointer;
}
